body{
  font-family: ;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
h1{
  font-size: 50px;
}
.highlight{
  color: blueviolet;
}
.half-width{
  float: left;
  width: 40%;
  margin-left: 3%;
  padding: 2%;
  margin-right: 1%;
}
.half-width img{
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
  /* max-block-size: ; */
}
h2{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.link{
  text-decoration: none;
  background-image: linear-gradient(lightsalmon, tomato);
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}